<%- include('../components/header.ejs'); -%>
    <div class="user-profile">
        <a href="/profile">
            <img src="/img/user.png" alt="user-icon" class="img-thumbnail">
        </a>
    </div>
    <div class="todo">
        <ul class="w-100 h-75  m-5 mt-0">
            <% todos.forEach(todo=> { %>
                <li class="m-2 p-2">
                    <%= todo.todo %>
                        <a href="/delete/<%= todo.todoID %> " class="todo-delete">X</a>
                </li>
                <% }) %>

        </ul>
        <form action="/" method="post">
            <input type="hidden" name="userId" value=<%=userId %> />
            <input type="text" name="todo" id="todo" class="todo-input">
            <button type="submit" class="todo-submit">+</button>
        </form>

    </div>
    <%- include('../components/footer.ejs'); -%>